.env
.venv
__pycache__/
**/__pycache__/
*.pyc

native_build/stt_build/
native_build/*.pyd
native_build/*.so
native_build/*.dll

models/stt/*.bin
models/stt/*.zip
models/stt/vosk-model*/
models/tts/*.onnx
models/tts/*.json

console-recordings/
lk_dump/
.git/
